@import 'styles';

:host {
  display: block;
  height: 0;
}

.notification-wrapper {
  margin: 0 auto;
  width: $notification_w;
  max-width: calc(100% - 2rem);

  .message {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--white-color);

    @include block-shadow();

    &.warning-message {
      color: var(--warning-color);
    }

    &.error-message {
      color: var(--error-color);
    }
  }
}
