@import 'styles';

:host {
  position: relative;
  display: block;
  height: 0;
}

.notifications {
  position: absolute;
  bottom: 0;
  left: calc(50% - #{$notification_w / 2});
  margin: 0 auto;
  width: $notification_w;
  max-width: calc(100% - 2rem);

  .notification {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--white-color);

    @include block-shadow();

    &.notification-warn {
      color: var(--warning-color);
    }

    &.notification-error {
      color: var(--error-color);
    }
  }
}
