<header class="app-header">
  <nav class="app-nav">
    <a routerLink="/" class="logo link">
      <img src="assets/images/angular.svg" alt="angular">
      {{ 'appName' | translate }}
    </a>
    <a routerLink="/" class="link">{{ 'homePage' | translate }}</a>
    <a routerLink="/post" class="link">{{ 'postsPage' | translate }}</a>

    <div class="user-info" *ngIf="user">
      <span class="user-name">{{ user.name }}</span>
      <button type="button" class="btn btn-default logout-btn" (click)="logout.emit()">{{ 'logout' | translate }}</button>
    </div>
  </nav>
</header>
