@import 'form';
@import 'btn';
@import 'input';

:root {
  --primary-color: #1976d2;
  --warning-color: #d8a31a;
  --error-color: #d53e28;

  --white-color: #fdfdfd;
  --light-color: #e8e8e8;

  --container-w: 1200px;
}
